.link-list {
  /* DwyerOmega: Link list headings use primary brand blue */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mb-4.5 text-lg text-[var(--color-primary)];
  }

  ul {
    @apply flex flex-row flex-wrap gap-4;
  }

  a:hover {
    @apply underline;
  }
}

/* list vertical */
.link-list.list-vertical {
  ul {
    @apply flex-col;
  }
}

.link-list.hide-title {
  h3 {
    @apply hidden;
  }
}

.social-follow.hide-title {
  h5 {
    @apply hidden;
  }
}
